.banner-home {
  background-image: url(img/dev-books-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include align-elements(flex, center, center);
  height: 270px;
  color: $main-white-color;

  h1 {
    font-size: 50px;
    font-weight: 400;
    text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.623);
  }
}

.aside-container {
  @include align-elements(flex, unset, center);
  border: 1px solid $primary-gray-scale;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}