.login-view {
  display: flex;

  .banner-spacin {
    margin: 50px 0;
    padding-right: 15%;
    @include align-elements(flex, center, flex-start);
    flex-direction: column;

    .page-title {
      margin: 20px 0;

      h2 {
        font-weight: 500;
        margin-bottom: 20px;
      }

      p {
        text-align: justify;
      }
    }

    img {
      width: 100%;
    }
  }

  .form-config {
    border-left: 1px solid $secondary-gray-scale;
    padding: 0 15% 0 30px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    
    .slide-controls {
      margin: 10px 0 35px 10px;
      position: relative;
      @include align-elements(flex, center, center);
      height: 40px;
      width: 100%;
      overflow: hidden;
      
      .slide {
        @include align-elements(flex, space-between, unset);
        height: 100%;  
        color: $primary-blue-scale;
        font-size: 22px;
        text-align: center;
        line-height: 48px;
        cursor: pointer;
        z-index: 1;
        transition: all .6s ease;
        font-size: 30px;
      }

      label {
        padding: 0 30px;
      }
      
      label.register {
        color: $primary-blue-scale;
      }

      input[type="radio"] {
        display: none;
      }

      .slider-tab {
        position: absolute;
        height: 100%;
        width: 20%;
        left: 0;
        z-index: 0;
        border-bottom: 2px solid $primary-blue-scale;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }

      #register:checked~.slider-tab {
        left: 50%;
        width: 32%;
      }

      #enter:checked~.slider-tab {
        left: 19%;
      }

      #enter:checked~label.enter,
      #register:checked~label.register {
        color: $primary-blue-scale;
        cursor: default;
        user-select: none;
      }

      #register:checked~label.enter {
        color: $primary-gray-scale;
      }
      
      #enter:checked~label.register {
        color: $primary-gray-scale;
      }
    }

    .form-data-container {
      width: 100%;
      overflow: hidden;

      .form-inner {
        display: flex;
        width: 100%;
        height: 680px;

        form {
          width: 100%;
          transition: all .6s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
        }
      }
    }
  }
}