.footer {
  padding: 50px 180px;
  display: flex;
  
  img {
    width: 280px;
  }
  
  p {
    margin: 0 70px;
    color: $primary-gray-scale;
  }
}

.footer-info {
  background-color: #009acc;
  text-align: center;
  padding: 20px 0;
}