.menu-navigation {
  display: flex;
  color: $primary-blue-scale-main;

  li {
    display: flex;

    a {
      padding: 10px;
      transition: .3s ease;

      &:active {
        border-radius: 3px;
        background-color: #009acc;
        color: #fff;
      }
 
      &:last-of-type {
        margin-left: 80px;
      }
    }
  }
}